{% extends 'base.html.twig' %}

{% block body %}

	<section class="container">
		<div class="row">
			{% for row in listeannonces %}
				{# CARD #}
				<div class="ImageAnnonce card " style="width: 18rem;">
					<img class="cardImageAnnonce  card-img-top" src="{{asset('images/' ~ row.photo)}}" alt="{{row.photo}}">
					<div class="fontColor card-body">
						<a href="{{ path('details',{id:row.id})}}">
							<h5 class="fontColor card-title">{{row.nom}}</h5>
						</a>
						<p class="fontColor">Taille :{{row.taille}}</p>
						<p>Référence :{{row.reference}}</p>
						<p id="">Prix :
							{{row.prix}}€</p>
						<a href="{{path("ajouter",{id: row.id})}}" class="btn btn-danger">Ajouter au panier</a>
					</div>
				</div>
			{% endfor %}

		</div>
	</section>

{% endblock %}
