{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

<div class="row">
    <a href="{{ path('app_produit_new') }}">Nouvelle enregistrement</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Active</th>
                <th>Stock</th>
                <th>Coef</th>
                <th>Reference</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.active ? 'Yes' : 'No' }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.coef }}</td>
                <td>{{ produit.reference }}</td>
                <td><img class="miniature img-fluid img-thumbnail" src="{{asset('images/' ~ produit.photo)}}" alt="{{produit.photo}}"></td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Détail</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</div>
    
{% endblock %}
