{% extends 'base.html.twig' %}

{% block body %}
	<section class="container">
		<div class="row">
			<h1>Votre Commande</h1>
		</div>
	</section>

	<section class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for element in dataPanier %}
					<tr>
						<td>{{element.produit}}</td>
						<td>{{element.produit.prix}}€</td>
						<td>{{element.quantite}}</td>
						<td>{{element.quantite * element.produit.prix}}€</td>
						<td>
							<a href="{{path("ajouter",{id: element.produit.id})}}" class="btn btn-success" value="+" type="button">
								<i class="fa-solid fa-square-plus"></i>
							</a>
							<a href="{{path("oter",{id: element.produit.id})}}" class="btn btn-warning">
								<i class="fa-regular fa-square-minus"></i>
							</a>
							<a href="{{path("supprimer",{id: element.produit.id})}}" class="btn btn-danger">
								<i class="fa-solid fa-square-xmark"></i>
							</a>

						</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="5" class="text-center">Votre Panier est vide</td>
					</tr>

				{% endfor %}

			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-right">HT:
					</td>
					<td>{{total|number_format(2, '.', ' ')}}
						€</td>
				</tr>
				<tr>
					<td colspan="3" class="text-right">TVA:
					</td>
					<td>{{(prixTva|number_format(2, '.', ' '))}}€</td>
				</tr>

				<tr>
					<td colspan="3" class="text-right total">Total TTC:
					</td>
					<td class="total">{{(total + total * 0.05)|number_format(2, '.', ' ')}}
						€</td>

				</tr>
			</tfoot>
		</table>
		{{dump()}}

	</section>
{% endblock %}
