<div class="container">
    <div class="row">

        <div class="logo">
            <a class="navbar-brand navbar-collapse" href="{{path('app_accueil')}}"><img class="logo"
                    src="{{asset('images/Logo.png')}}" width="60" height="60" alt="logo.png"></a>
        </div>
        
        <nav class="navbar navbar-expand-lg ">
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-8">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">rechercher</button>
                    </form>
                </div>
            </div>
            <div class="col-6">
                <div class="contact_achat d-flex">
                    <p id="icone-contact"><i class="fa-solid fa-user me-4 d-flex"></i></p>
                    <ul class="navbar-nav ">
                        <div class="d-flex flex-column">
                            <li class="li1 nav-item"><a class="nav-link" href="{{path('app_login')}}">Mon compte</a>
                            </li>
                            <li class="li1 nav-item"><a class="nav-link" href="{{path('app_register')}}">Mon
                                    inscription</a></li>
                        </div>
                    </ul>
                    <p id="icone-achat"><i class="fa-solid fa-cart-shopping"></i></p>
                    <div class="d-flex flex-column">
                        <p class="mt-2 ms-2">Mon panier</p>
                        <p class="ms-2">0,00€</p>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jean">
                <nav class="navbar navbar-expand-lg ">
                    <div class="collapse navbar-collapse" id="jean">
                        <ul class="line navbar-nav ">
                            <li class="li2 1 nav-item">
                                <a class="nav-link" href={{path('app_accueil')}}>Accueil</a>
                            </li>
                            {# pour rechercher tout les rubriques parent  #}
                            {% for Ssrubrique in allRub %}
                            {% if Ssrubrique.rubriqueParent == null %} 
                            <li class="li2 nav-item">
                                {% set rub = Ssrubrique | lower | replace({' ':''})%}
                                <a class="nav-link" href="{{ path( 'app_parent',{slug:Ssrubrique.slug}) }}">{{ Ssrubrique.nom}}</a> 
                                 {# <a class="nav-link" href="">{{ Ssrubrique.nom }}</a> #}
                              

                            </li>
                            {% else %}   
                            
                            {% endif %} 
                                
                            {% endfor %}
                            
                            <li class="li2 nav-item">
                                <a class="li-a nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

</header>